.notification {
  background-color: var(--color-white);
  border-radius: 2.5rem;
  padding: 3rem;
  position: fixed;
  bottom: 3rem;
  font-size: 1.8rem;
  font-weight: 600;
  max-width: 50rem;
  text-align: center;
}
