.notification {
  background-color: var(--color-white);
  border-radius: 2.5rem;
  padding: 4rem;
  position: fixed;
  bottom: 3rem;
  font-size: 1.8rem;
  font-weight: 600;
  max-width: 50rem;
  text-align: center;
}

@media (max-width: 37.5em) {
  .notification {
    padding: 2.5rem;
    font-size: 1.4rem;
    max-width: 90vw;
  }
}
