.progressBar {
  width: 100%;
  height: 100%;
  position: absolute;
}

.progressBar circle {
  --dash-array: 1186;
  stroke: var(--color-selected);
  stroke-width: 10;
  stroke-linecap: round;
  stroke-dasharray: var(--dash-array);
  transform-origin: center center;
  transform: rotate(-90deg);
  transition: stroke-dashoffset 1s linear, stroke 0.8s linear;
}

@media (max-width: 37.5em) {
  .progressBar circle {
    --dash-array: 848;
  }
}
