.timerSwitch {
  display: flex;
  align-items: center;
  position: relative;
  margin-top: 5rem;
  position: relative;
}

.timerSwitch::before {
  content: '';
  box-sizing: content-box;
  width: 100%;
  height: 100%;
  background-color: var(--color-dark-blue-2);
  border-radius: 4rem;
  padding: 0.7rem;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.timerSwitch > * {
  position: relative;
}

.timerSwitchActiveBackground {
  position: absolute;
  height: 100%;
  top: 50%;
  left: 0%;
  background-color: var(--color-selected);
  border-radius: 3rem;
  transition: transform 0.3s ease-in-out, background-color 0.6s linear;
}
