.timerContainer {
  margin: 8rem 0 5rem;
  width: 48rem;
  height: 48rem;
  display: grid;
  place-items: center;
  background-image: linear-gradient(to bottom right, #0e112a, #2e325a);
  box-shadow: -5rem -5rem 10rem 0 #272c5a, 5rem 5rem 10rem 0 #121530;
  border-radius: 50%;
}

.timer {
  width: 42rem;
  height: 42rem;
  background-color: var(--color-dark-blue-2);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
  border-radius: 50%;
}

.timer > *:not(:first-child) {
  position: relative;
}

.timerValue {
  margin-bottom: 1.4rem;
}
