@import url('https://fonts.googleapis.com/css2?family=Kumbh+Sans:wght@400;500;600;700&family=Roboto+Slab:wght@400;500;600;700&family=Space+Mono:wght@400;700&display=swap');

:root {
  --color-orange-red: #f87070;
  --color-teal: #70f3f8;
  --color-purple: #d881f8;
  --color-light-blue: #d7e0ff;
  --color-dark-blue: #1e213f;
  --color-dark-blue-2: #161932;
  --color-white: #fff;
  --color-light-grey: #eff1fa;
  --font-family-1: 'Kumbh Sans', sans-serif;
  --font-family-2: 'Roboto Slab', sans-serif;
  --font-family-3: 'Space Mono', sans-serif;
  --font-size-h1: 10rem;
  --font-size-h2: 2.8rem;
  --font-size-h3: 1.6rem;
  --font-size-h4: 1.3rem;
  --font-size-body-1: 1.4rem;
  --font-size-body-2: 1.2rem;
  --line-height-h1: 12rem;
  --line-height-h2: 3.4rem;
  --line-height-h3: 1.9rem;
  --line-height-h4: 1.6rem;
  --line-height-body-1: 1.8rem;
  --line-height-body-2: 1.4rem;
  --letter-spacing-h3: 1.5rem;
  --letter-spacing-h4: 0.5rem;
}

*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 62.5%;
}

body {
  font-family: var(--font-selected);
}

main {
  min-height: 100vh;
  background-color: var(--color-dark-blue);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 6rem;
  font-weight: 700;
}

button,
input {
  border: none;
  outline: none;
  font: inherit;
}

button {
  cursor: pointer;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

h1,
h3 {
  color: var(--color-white);
}

h1 {
  font-size: var(--font-size-h1);
  line-height: var(--line-height-h1);
}

h2 {
  font-size: var(--font-size-h2);
  line-height: var(--line-height-h2);
}

h3,
h4 {
  text-transform: uppercase;
}

h3 {
  font-size: var(--font-size-h3);
  line-height: var(--line-height-h3);
  letter-spacing: var(--letter-spacing-h3);
}

h4 {
  font-size: var(--font-size-h4);
  line-height: var(--line-height-h4);
  letter-spacing: var(--letter-spacing-h4);
}
