.button {
  color: var(--color-light-blue);
  background-color: transparent;
  padding: 1.8rem 1rem;
  border-radius: 3rem;
  transition: all 0.4s;
}

.buttonPrimary {
  width: 14rem;
  background-color: var(--color-selected);
  font-size: 1.6rem;
  font-weight: 600;
  color: var(--color-white);
}

.buttonPrimary:hover {
  background-color: #f98d8d;
}

.buttonSecondary {
  width: 12rem;
  font-size: var(--font-size-body-1);
  opacity: 0.4;
}

.buttonActive {
  opacity: 1;
  color: var(--color-dark-blue-2);
  font-weight: 700;
}

.buttonNotification {
  width: auto;
  padding-left: 4rem;
  padding-right: 4rem;
  background-color: var(--color-dark-blue-2);
  margin-top: 3rem;
}

.buttonArrow {
  padding: 0.2rem 0rem;
}
