.inputRadioContainer {
  width: 4rem;
  height: 4rem;
  border-radius: 50%;
  position: relative;
  cursor: pointer;
}

.inputRadioContainer::before {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(0.8);
  width: 100%;
  height: 100%;
  background-color: transparent;
  border-radius: 50%;
  border: 0.1rem solid var(--color-light-grey);
  transition: all 0.1s linear;
  z-index: -1;
}

@media (hover: hover) {
  .inputRadioContainer:hover::before {
    transform: translate(-50%, -50%) scale(1.3);
  }
}

.inputRadioContainer:active::before {
  transform: translate(-50%, -50%) scale(1.2);
}

.inputRadio {
  position: absolute;
  opacity: 0;
  height: 0;
  width: 0;
}

.inputRadioCustom {
  display: block;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background-color: var(--color-light-grey);
  transition: all 0.3s linear;
}

.inputRadioFont::after {
  content: 'Aa';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-size: 1.5rem;
  font-weight: 600;
}

.inputRadioColor::after {
  content: '';
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, calc(-50% - 0.1rem)) rotate(-45deg) scale(0);
  width: 34%;
  height: 18%;
  border-color: var(--color-dark-blue-2);
  border-left: 0.2rem solid;
  border-bottom: 0.2rem solid;
  transition: all 0.2s linear;
}

.inputRadio:checked + .inputRadioCustom.inputRadioFont {
  background-color: var(--color-dark-blue-2);
}

.inputRadio:checked + .inputRadioCustom.inputRadioFont::after {
  color: var(--color-white);
}

.inputRadio:checked + .inputRadioCustom.inputRadioColor::after {
  transform: translate(-50%, calc(-50% - 0.1rem)) rotate(-45deg) scale(1);
}
